@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background-image: linear-gradient(to right, rgb(255, 176, 57), #6a4fab);
}
header {
    height: fit-content;
    padding: 10px;
    height: fit-content;
}
.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.header__logo {
    stroke-width: 10;
    stroke: rgb(46, 46, 46);
    fill: #7651cc;
}
.header__info {
    display: flex;
    flex-direction: row;
    width: 180px;
    justify-content: space-between;
    color: #fff;
    background-color:rgb(46, 46, 46);
    border-radius: 0 5px 5px 0;
    height: fit-content;
}
.header__info h1 {
    padding: 0 10px 0 0;
}
.header__nav {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}
.header__link {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 1s;
    font-size: 1.5vw;
}
.header__link:nth-child(4) {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e2dfe8;
    color: #000;
    border-bottom: 1px solid black;
}
.header__link:hover {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e2dfe8;
    color: #000;
    border-bottom: 1px solid black;
}
.responsive {
    display: none;
}
.main {
    padding: 100px 300px 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__container {
    width: 80%;
    height: 50vh;
    background-color: #fff;
    position: relative;
    padding: 30px;
    border-radius: 10px;
}
.main__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.main__form::-webkit-scrollbar {
    display: none;
}
/* .main__form p {
    width: 100%;
    height: fit-content;
    color: #bdbdbd;
    padding: 0 0 40px 0;
} */
.main__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__data-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.main__data-1 label {
    font-size: 30px;
    color: #595959;
}
.main__data-1 input {
    height: 50px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    transition: 1s;
}
.main__data-1 input:focus {
    border-bottom: 1px solid rgb(20, 157, 175); 
    outline: none;
}
#suggestion {
    margin: 20px 0 0 0;
    color: rgb(93, 93, 93);
    font-size: 1vw;
}
.main__data-2 label {
    font-size: 30px; 
    color: #595959;
}
.main__data-2 {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.main__data-2 input {
    height: 50px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    transition: 1s;
}
.main__data-2 input:focus {
    border-bottom: 1px solid rgb(20, 157, 175); 
    outline: none;
}
.main__radio {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 0;
}
.main__spinner {
    margin: 0 0 40px 0;
    color: #fff;
}
.main__option {
    padding: 5px 5px 5px 0;
}
.main__select {
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main__list {
    width: 40%;
    outline: none;
    border-radius: 0;
    transition: 1s;
    padding: 5px;
}
#main__list:focus {
    border-color:rgb(20, 157, 175);
}
#main__version {
    width: 40%;
    outline: none;
    border-radius: 0;
    transition: 1s;
    padding: 5px;
}
.main__text {
    padding: 0 1px 0 1px;
}
#main__comment {
    width: calc(100% - 10px);
    resize: none;
    border: 0;
    outline: 1px solid black;
    padding: 5px;
    transition: 1s;
    margin: 0 0 40px 0;
}
#main__comment:focus {
    outline-color: rgb(20, 157, 175);
}
.main__checkbox {
    padding: 0 0 40px 0;
    display: none;
}
.main__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0 0 0;
}
.main__submit {
    width: 45%;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    border: none;
    background-color: #301866;
    color: #fff;
    transition: .3s;
}
.main__submit:hover {
    background-color: rgb(20, 157, 175);
    font-size: 25px;
    cursor: pointer;
}
.main__reset {
    width: 45%;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    border: none;
    background-color: #301866;
    color: #fff;
    transition: .3s;
}
.main__reset:hover {
    background-color: rgb(20, 157, 175);
    font-size: 25px;
    cursor: pointer;
}
@media screen and (max-width: 1440px) {
    .main {
        padding: 50px 150px 50px 150px;
        font-size: 12px;
    }
}
@media screen and (max-width: 1024px) {
    .main {
        padding: 50px 100px 50px 100px;
    }
}
@media screen and (max-width: 768px) {
    body {
        position: relative;
        height: 100vh;
    }
    .main {
        padding: 50px;
    }
    .responsive__nav {
        display: flex;
        padding: 30px;
        background-color: #6a4fab;
        border-radius: 5px 5px 0 0;
        flex-direction: row;
        justify-content: space-between;
    }
    .responsive__link {
        padding: 10px;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        transition: 1s;
        font-size: 2.5vw;
    }
    .responsive__link:nth-child(4) {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #e2dfe8;
        color: #000;
        border-bottom: 1px solid black;
    }
    .responsive__link:hover {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #e2dfe8;
        color: #000;
        border-bottom: 1px solid black;
    }
    .responsive {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .header__nav {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .main__wrap {
        flex-direction: column;
    }
    .main__data-1 {
        width: 100%;
    }
    .main__data-2 {
        width: 100%;
    }
    .main__select {
        flex-direction: column;
    }
    #main__list {
        width: 100%;
        margin: 0 0 10px 0;
    }
    #main__version {
        width: 100%;
    }
}
@media screen and (max-width: 375px) {
    .main__submit {
        font-size: 4vw;
    }
    .main__reset {
        font-size: 4vw;
    }
}
