@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(to right, rgb(255, 176, 57), #6a4fab);
}
header {
    height: fit-content;
    padding: 10px;
}
.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.header__logo {
    stroke-width: 10;
    stroke: rgb(46, 46, 46);
    fill: #7651cc;
}
.header__info {
    display: flex;
    flex-direction: row;
    width: 180px;
    justify-content: space-between;
    color: #fff;
    background-color:rgb(46, 46, 46);
    border-radius: 0 5px 5px 0;
    height: fit-content;
}
.header__info h1 {
    padding: 0 10px 0 0;
}
.header__nav {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}
.header__link {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 1s;
    font-size: 1.5vw;
}
.header__link:nth-child(3) {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e2dfe8;
    color: #000;
    border-bottom: 1px solid black;
}
.header__link:hover {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e2dfe8;
    color: #000;
    border-bottom: 1px solid black;
}
.responsive {
    display: none;
}
main {
    padding: 100px 300px 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__container {
    width: 80%;
    height: 50vh;
    background-color: #fff;
    position: relative;
    padding: 30px;
    border-radius: 10px;
}
table {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 1vw;
}
th{
    background-color: rgb(20, 157, 175);
}
td {
    background-color: #301866;
}
#priceCell {
    background-color: rgb(102, 102, 102);
}
@media screen and (max-width: 1440px) {
    main {
        padding: 50px 150px 50px 150px;
        font-size: 12px;
    }
}
@media screen and (max-width: 1024px) {
    main {
        padding: 50px 100px 50px 100px;
    }
}
@media screen and (max-width: 768px) {
    body {
        position: relative;
        height: 100vh;
    }
    main {
        padding: 50px;
    }
    table {
        font-size: 2vw;
    }
    .responsive__nav {
        display: flex;
        padding: 30px;
        background-color: #6a4fab;
        border-radius: 5px 5px 0 0;
        flex-direction: row;
        justify-content: space-between;
        margin-top: auto;
    }
    .responsive__link {
        padding: 10px;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        transition: 1s;
        font-size: 2.5vw;
    }
    .responsive__link:nth-child(3) {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #e2dfe8;
        color: #000;
        border-bottom: 1px solid black;
    }
    .responsive__link:hover {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #e2dfe8;
        color: #000;
        border-bottom: 1px solid black;
    }
    .responsive {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .header__nav {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    table {
        font-size: 2.5vw;
    }
}